@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

.up,
.down {
  height: 12px !important;
  border-radius: 8px;
  border: none !important;
}

.up {
  background: #dd5746 !important;
}
.down {
  background: #f7c566 !important;
}

.header {
  background: #f2f2f2;
}

.header .rct-dateHeader-primary {
  color: black !important;
  font-weight: 600 !important;
}
.border-unset {
  border: unset !important;
}
.rct-dateHeader {
  pointer-events: none !important;
}
.react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-6,
.react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-0,
.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd,
.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-odd {
  background: unset !important;
}

.react-calendar-timeline .rct-sidebar .rct-sidebar-row {
  display: flex;
  align-items: center;
}
.cursor-pointer {
  cursor: pointer;
}

.border-right {
  border-left: unset !important;
  border-right: 1px solid #f2f2f2 !important;
}

.marker-today {
  position: relative;
}

.marker-today::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid #32a54b;
}

.marker-today::after {
  position: absolute;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid #32a54b;
}
